@model List<Card>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit deck</h2>
<table class="table">
    <thead class="thead-light">
    <tr>

        @* <th scope="col">Key</th> *@
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
        <th scope="col">Answer Image</th>
        <th scope="col">Question Image</th>
        @* <th scope="col">Creator</th> *@
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @* <td>@Html.DisplayName(item.key.ToString())</td> *@
            <td>
                @item.question
            </td>
            <td> @item.answer</td>
            <td>@item.answerImage</td>
            <td>@item.questionImage</td>


        </tr>
    }
    </tbody>
</table>